SERVER_PORT=3333
JWT_SECRET=secret
JWT_EXPIRES_IN='1h'

#MONGO
MONGODB_USERNAME=root
MONGODB_PASSWORD=secret
MONGODB_DATABASE=product
MONGODB_AUTH_SOURCE=admin
DATABASE_URL="mongo://$MONGODB_USERNAME:$MONGODB_PASSWORD@localhost:5432/$MONGODB_DATABASE?authSource=${MONGODB_AUTH_SOURCE}"