name: Main

on:
  push:
    branches:
      - main

jobs:
  changed-contexts:
    uses: ./.github/workflows/changed-contexts.yaml
    secrets: inherit

  api-ci:
    needs: [changed-contexts]
    if: needs.changed-contexts.outputs.api == 'true'
    uses: ./.github/workflows/api-ci.yaml
    secrets: inherit
    permissions:
      id-token: write
      contents: read

  api-cd:
    needs: [changed-contexts, api-ci]
    if: needs.changed-contexts.outputs.api == 'true'
    uses: ./.github/workflows/api-cd.yaml
    secrets: inherit
    permissions:
      id-token: write
      contents: read
    with:
      image_tag: ${{ needs.api-ci.outputs.tag }}
