name: Main

on:
  push:
    branches:
      - main

jobs:
  changed-contexts:
    uses: ./.github/workflows/changed-contexts.yaml
    secrets: inherit

  bump:
    needs: [changed-contexts]
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: write

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Update repository
        run: git pull

      - name: install pnpm
        run: npm install -g pnpm

      - name: Config git
        run: |
          git config --global user.email "${{ github.event.head_commit.committer.email }}"
          git config --global user.name "${{ github.event.head_commit.committer.name }}"

      - name: debug commit message
        run: echo "${{ github.event.head_commit.message }}"

      - name: bump repo
        id: bump-repo
        run: |
          tag=$(pnpm version patch --no-commit-hooks --no-git-tag-version)
          git add . && git commit -m "bump repo: $tag [skip ci]"
          echo "tag=$tag" >> $GITHUB_OUTPUT

      - name: bump web app
        if: needs.changed-contexts.outputs.web == 'true'
        working-directory: apps/web
        id: bump-web
        run: |
          tag=$(pnpm version patch --no-commit-hooks --no-git-tag-version)
          git add . && git commit -m "bump web: $tag [skip ci]"
          echo "tag=$tag" >> $GITHUB_OUTPUT

      - name: bump api app
        if: needs.changed-contexts.outputs.api == 'true'
        working-directory: apps/api
        id: bump-api
        run: |
          tag=$(pnpm version patch --no-commit-hooks --no-git-tag-version)
          git add . && git commit -m "bump api: $tag [skip ci]"
          echo "tag=$tag" >> $GITHUB_OUTPUT

      - name: push commits
        run: git push

    outputs:
      repo-tag: ${{ steps.bump-repo.outputs.tag }}

  db-cd:
    needs: [changed-contexts]
    if: needs.changed-contexts.outputs.db == 'true'
    uses: ./.github/workflows/db-cd.yaml
    permissions:
      id-token: write
      contents: read
    secrets: inherit

  api-ci:
    needs: [changed-contexts, bump, db-cd]
    if: |
      always() &&
      !contains(needs.*.result, 'failure') && 
      !contains(needs.*.result, 'cancelled') &&
      needs.changed-contexts.outputs.api == 'true'
    uses: ./.github/workflows/api-ci.yaml
    secrets: inherit
    permissions:
      id-token: write
      contents: read

  api-cd:
    needs: [api-ci]
    uses: ./.github/workflows/api-cd.yaml
    secrets: inherit
    permissions:
      id-token: write
      contents: read

  nginx:
    needs: [changed-contexts, api-cd]
    if: |
      always() &&
      !contains(needs.*.result, 'failure') && 
      !contains(needs.*.result, 'cancelled') &&
      needs.changed-contexts.outputs.nginx == 'true'
    secrets: inherit
    permissions:
      id-token: write
      contents: read
    uses: ./.github/workflows/nginx-cd.yaml

  web-cd:
    needs: [changed-contexts, bump]
    if: needs.changed-contexts.outputs.web == 'true'
    uses: ./.github/workflows/web-cd.yaml
    secrets: inherit
    permissions:
      id-token: write
      contents: read

  release:
    needs: [changed-contexts, bump]
    if: |
      always() &&
      !contains(needs.*.result, 'cancelled')
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Update repository
        run: git pull

      - name: Create git tag
        run: git tag ${{ needs.bump.outputs.repo-tag }}

      - name: Push tag
        run: git push origin ${{ needs.bump.outputs.repo-tag }}
