name: Main

on:
  push:
    branches:
      - main

jobs:
  changed-contexts:
    uses: ./.github/workflows/changed-contexts.yaml
    secrets: inherit

  bump:
    needs: [changed-contexts]
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: write

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Update repository
        run: git pull

      - name: install pnpm
        run: npm install -g pnpm

      - name: Config git
        run: |
          git config --global user.email "${{ github.event.head_commit.committer.email }}"
          git config --global user.name "${{ github.event.head_commit.committer.name }}"

      - name: debug commit message
        run: echo "${{ github.event.head_commit.message }}"

      - name: bump repo
        id: bump-repo
        run: |
          tag=$(pnpm version patch --no-commit-hooks --no-git-tag-version)
          git add . && git commit -m "bump repo: $tag [skip ci]"
          echo "tag=$tag" >> $GITHUB_OUTPUT

      - name: bump web app
        if: needs.changed-contexts.outputs.web == 'true'
        working-directory: apps/web
        id: bump-web
        run: |
          tag=$(pnpm version patch --no-commit-hooks --no-git-tag-version)
          git add . && git commit -m "bump web: $tag [skip ci]"
          echo "tag=$tag" >> $GITHUB_OUTPUT

      - name: bump api app
        if: needs.changed-contexts.outputs.api == 'true'
        working-directory: apps/api
        id: bump-api
        run: |
          tag=$(pnpm version patch --no-commit-hooks --no-git-tag-version)
          git add . && git commit -m "bump api: $tag [skip ci]"
          echo "tag=$tag" >> $GITHUB_OUTPUT

      - name: push commits
        run: push

  nginx:
    needs: [changed-contexts]
    if: needs.changed-contexts.outputs.nginx == 'true'
    uses: ./.github/workflows/nginx-cd.yaml
    secrets: inherit
    permissions:
      id-token: write
      contents: read

  api-ci:
    needs: [changed-contexts, bump]
    if: needs.changed-contexts.outputs.api == 'true'
    uses: ./.github/workflows/api-ci.yaml
    secrets: inherit
    permissions:
      id-token: write
      contents: read

  api-cd:
    needs: [api-ci]
    uses: ./.github/workflows/api-cd.yaml
    secrets: inherit
    permissions:
      id-token: write
      contents: read
    with:
      image_tag: ${{ needs.api-ci.outputs.tag }}
