name: Web CD

on:
  workflow_dispatch:
    inputs:
      repo_tag:
        description: Repo tag to deploy
        type: string
        default: main

  workflow_call:
    inputs:
      repo_tag:
        description: Repo tag to deploy
        type: string
        default: main

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      id-token: write
      contents: read

    environment: prod
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.repo_tag }}

      - name: Update repository
        run: git pull

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}

      - name: Build Project Artifacts
        run: vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}

      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}
